# https://github.com/grafana/loki/blob/main/operator/hack/addon_grafana_gateway_ocp_oauth.yaml
{{ if .Values.clf.application }}
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: {{ include "aro-clf-blob.fullname" . }}-prometheus-loki-app
  labels:
    {{- include "aro-clf-blob.labels" . | nindent 4 }}
spec:
  name: {{ include "aro-clf-blob.fullname" . }}-loki-app.yaml
  instanceSelector:
    matchLabels:
      app: grafana
  datasource:
    name: Loki (Application)
    type: loki
    editable: true
    access: proxy
    url: https://logging-loki-gateway-http.openshift-logging.svc.cluster.local:8080/api/logs/v1/application/
    jsonData:
      # tlsAuthWithCACert: true
      tlsSkipVerify: true
      httpHeaderName1: 'Authorization'
    secureJsonData:
      httpHeaderValue1: 'Bearer \${token}'
      valuesFrom:
      - targetPath: secureJsonData.httpHeaderValue1
        valueFrom:
          secretKeyRef:
            name: aro-thanos-af-grafana-cr-sa-token
            key: token
{{ end }}
---

# https://github.com/grafana/loki/blob/main/operator/hack/addon_grafana_gateway_ocp_oauth.yaml
{{ if .Values.clf.infrastructure }}
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: {{ include "aro-clf-blob.fullname" . }}-prometheus-loki-infra
  labels:
    {{- include "aro-clf-blob.labels" . | nindent 4 }}
spec:
  name: {{ include "aro-clf-blob.fullname" . }}-loki-infra.yaml
  instanceSelector:
    matchLabels:
      app: grafana
  datasource:
    name: Loki (Infrastructure)
    type: loki
    editable: true
    access: proxy
    url: https://logging-loki-gateway-http.openshift-logging.svc.cluster.local:8080/api/logs/v1/infrastructure/
    jsonData:
      # tlsAuthWithCACert: true
      tlsSkipVerify: true
      httpHeaderName1: 'Authorization'
    secureJsonData:
      httpHeaderValue1: 'Bearer \${token}'
      valuesFrom:
      - targetPath: secureJsonData.httpHeaderValue1
        valueFrom:
          secretKeyRef:
            name: aro-thanos-af-grafana-cr-sa-token
            key: token
{{ end }}

---

# https://github.com/grafana/loki/blob/main/operator/hack/addon_grafana_gateway_ocp_oauth.yaml
{{ if .Values.clf.audit }}
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: {{ include "aro-clf-blob.fullname" . }}-prometheus-loki-audit
  labels:
    {{- include "aro-clf-blob.labels" . | nindent 4 }}
spec:
  name: {{ include "aro-clf-blob.fullname" . }}-loki-audit.yaml
  instanceSelector:
    matchLabels:
      app: grafana
  datasource:
    name: Loki (Audit)
    type: loki
    access: proxy
    url: https://logging-loki-gateway-http.openshift-logging.svc.cluster.local:8080/api/logs/v1/audit/
    jsonData:
      # tlsAuthWithCACert: true
      tlsSkipVerify: true
      httpHeaderName1: 'Authorization'
    secureJsonData:
      httpHeaderValue1: 'Bearer \${token}'
      valuesFrom:
      - targetPath: secureJsonData.httpHeaderValue1
        valueFrom:
          secretKeyRef:
            name: aro-thanos-af-grafana-cr-sa-token
            key: token
{{ end }}
